.mainFooter {
  width: 1530px;
  height: 97px;
  margin: auto;
  border: 3px solid #478bf9;
  border-radius: 60px 60px 0 0;
  padding: 32px;
  border-bottom: 0;
  position: relative;
  z-index: 1;
  top: 30px;
  background-color: #13062f;
  .blockPage {
    width: 1220px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 190px;
    align-items: center;
    .blockParagraphs {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      margin-top: 15px;
      .terms {
        font: 400 16px Lexend;
        color: #478bf9;
        text-decoration: underline;
      }
      p {
        font: 400 16px Lexend;
        color: white;
      }
    }
    .blockPictures {
      display: flex;
      flex-direction: column;
      gap: 3px;
      p {
        font: 400 12px Lexend;
        color: white;
        margin-left: 114px;
      }
      .pictures {
        display: flex;
        justify-content: space-around;
        gap: 10px;
        .twitter {
          background-image: url(../../assets/twitter.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: brightness(1.3);
          }
        }
        .facebook {
          background-image: url(../../assets/facebook.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: brightness(1.3);
          }
        }
        .instagram {
          background-image: url(../../assets/instagram.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: hue-rotate(110deg);
          }
        }
        .link {
          background-image: url(../../assets/link.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: brightness(1.3);
          }
        }
        .youtube {
          background-image: url(../../assets/youtube.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: brightness(1.5) invert(1);
          }
        }
        .spotify {
          background-image: url(../../assets/spotify.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: hue-rotate(250deg);
          }
        }
        .telegram {
          background-image: url(../../assets/telegram.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: brightness(1.3);
          }
        }
        .vk {
          background-image: url(../../assets/vk.png);
          background-repeat: no-repeat;
          background-size: cover;
          width: 18px;
          height: 18px;
          &:hover {
            filter: brightness(1.3);
          }
        }
      }
    }
  }
}
